
extends ../layouts/simple_page2
block pagescripts
  style.
    td.min, th.min {
     width: 1% !important;
     white-space: nowrap !important;
   }
  script.
    table_source="#{table_source}"
    title="#{title}"
  script(src='/javascripts/customTable.js')
  script(src='/javascripts/pages/components.js')
    
  

block simple_content
  //- .row
  //-   .col-md-12
  //-     .box.box-default
  .box-body
    .table-responsive
      table#dataTable.table.table-striped.snipe-table
        
  //| Main table
  #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
    .modal-dialog
      .modal-content
    .modal-dialog
      form#modalForm.form-horizontal(role='form', name='modalForm', action='')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×   
              span.sr-only Close
            h4#editModalLabel.modal-title Edit #{title}
            .modal-body
              #modalContent
                .form-group
                  label.col-sm-2.control-label(for='name') Name
                  .col-sm-10
                    input#modal_name.form-control(name='name', autofocus)
                .form-group
                  label.col-sm-2.control-label(for='department_id') Type: 
                  .col-sm-10
                    select#modal_cpnt_type_id.form-control(name='cpnt_type_id',)
                .form-group
                  label.col-sm-2.control-label(for='manufacturers_id') Manufacturer: 
                  .col-sm-10
                    select#modal_manufacturers_id.form-control(name='manufacturers_id')
                .form-group
                  label.col-sm-2.control-label(for='price') Price
                  .col-sm-10
                    input#modal_price.form-control(name='price',type='number',  min='0')
                .form-group
                  label.col-sm-2.control-label(for='comments') Comments
                  .col-sm-10
                    input#modal_comments.form-control(name='comments',)
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.submit(type='submit') Save changes
  
