extends ../layouts/simple_page2
block pagescripts
  style.
    td.min, th.min {
     width: 1% !important;
     white-space: nowrap !important;
   }
  script.
    table_source="#{table_source}"
    title="Edit Component "
    item_id="#{item_id}"
    
  script(src='/javascripts/customTable.js')
  script(src='/javascripts/pages/components_edit.js')

  
block simple_content
  //- .col-md-6
    // Custom Tabs
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab_1', data-toggle='tab') Details
      li
        a(href='#tab_2', data-toggle='tab') Details
      //- li
      //-   a(href='#tab_3', data-toggle='tab') Workplace
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | Actions 
          span.caret
        ul.dropdown-menu
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Delete
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Clone
          //- li(role='presentation')
          //-   a(role='menuitem', tabindex='-1', href='#') Something else here
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Audit
      //- li.pull-right
      //-   a.text-muted(href='#')
      //-     i.fa.fa-gear
    .tab-content
      #tab_1.tab-pane.active
        .row
          .col-md-8
            form#itemForm.form-horizontal
              .box-body
                .form-group
                  label.col-sm-2.control-label(for='name') Name
                  .col-sm-10
                    input#name.form-control(name='name', autofocus)
                .form-group
                  label.col-sm-2.control-label(for='department_id') Type: 
                  .col-sm-10
                    select#cpnt_type_id.form-control(name='cpnt_type_id',)
                .form-group
                  label.col-sm-2.control-label(for='manufacturers_id') Manufacturer: 
                  .col-sm-10
                    select#manufacturers_id.form-control(name='manufacturers_id')
                .form-group
                  label.col-sm-2.control-label(for='price') Price
                  .col-sm-10
                    input#price.form-control(name='price',type='number',  min='0')
                .form-group
                  label.col-sm-2.control-label(for='comments') Comments
                  .col-sm-10
                    input#comments.form-control(name='comments',)
              // /.box-body
              .box-footer
                button.btn.btn-default.pull-right(type='submit') Cancel
                button.btn.btn-info.pull-right(type='submit') Save
              // /.box-footer
          .col-md-4
            //- img.img-thumbnail.pull-right(src='http://10.102.29.28:8080/hardware/1/qr_code', style='height: 100px; width: 100px; margin-right: 10px;')
            //- h4 Checked Out To
            //- p
            //-   // Only users have avatars currently
            //-   img.user-image-inline(src='//gravatar.com/avatar/a05e64ea70815d71fefd36ab6d66e729', alt='Andrei Prescornic')
            //-   i.fa.fa-user
            //-   a(href='http://10.102.29.28:8080/users/1') Andrei Prescornic
            //- ul.list-unstyled(style='line-height: 25px;')
            //-   li
            //-     i.fa.fa-envelope-o
            //-     a(href='mailto:andrei.prescornic@codeactorygroup.com') andrei.prescornic@codeactorygroup.com
            //-   li Chisinau
            //-   li
            //-   li
      // /.tab-pane
      #tab_2.tab-pane
        table#detailsTable.table.table-striped.snipe-table
      //- // /.tab-pane
      //- #tab_3.tab-pane
      //-   | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      //-   | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      //-   | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      //-   | It has survived not only five centuries, but also the leap into electronic typesetting,
      //-   | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
      //-   | sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
      //-   | like Aldus PageMaker including versions of Lorem Ipsum.
      // /.tab-pane
    // /.tab-content
  // nav-tabs-custom
  // /.col
  //- #editComponentsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='z-index: 1600;')
  //-   .modal-dialog
  //-     .modal-content
  //-   .modal-dialog
  //-     .modal-content
  //-   .modal-dialog
  //-     form#modalEditComponentsForm(role='form', name='modalForm', action='')
  //-       .modal-content
  //-         .modal-header
  //-           button.close(type='button', data-dismiss='modal')
  //-             span(aria-hidden='true') ×   
  //-             span.sr-only Close
  //-           h4#editComponentsModalLabel.modal-title Edit #{title}
  //-           .modal-body
  //-             #modalEditContent
  //-               .form-group
  //-                 label(for='dvc_type_id') Component : 
  //-                 //- select#search.smartsearch(name='search', style='width:100%;')
  //-                 select#modal_components_id.form-control(name='components_id',)
  //-               .form-group
  //-                 label(for='amount') Qtty :
  //-                 input#modal_component_amount.form-control(type='number', name='amount', min='1',value="1")
  //-               .form-group
  //-                 label(for='serial') Serial Nr :
  //-                 input#modal_components_serial.form-control(name='serial_nr')
  //-         .modal-footer
  //-           button.btn.btn-default(type='button', data-dismiss='modal') Close
  //-           button.btn.btn-primary.submit(type='submit') Save changes
