
extends ../layouts/simple_page2
block pagescripts
  style.
    td.min, th.min {
     width: 1% !important;
     white-space: nowrap !important;
   }
  script.
    table_source="#{table_source}"
    title="#{title}"
  script(src='/javascripts/pages/devices.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.9.0/JsBarcode.all.min.js')
    
  

block simple_content
  //- .row
  //-   .col-md-12
  //-     .box.box-default
  .box-body
    .table-responsive
      #toolbar.btn-group
        button#table_add.btn.btn-default(type='button',)
          i.glyphicon.glyphicon-plus
        button#table_edit.btn.btn-default(type='button')
          i.glyphicon.glyphicon-edit
        button#table_delete.btn.btn-default(type='button')
          i.glyphicon.glyphicon-trash   
        button#table_components.btn.btn-default(type='button')
          i.fa.fa-cog
        button#table_barcode.btn.btn-default(type='button')
          i.fa.fa-barcode
        button#table_pdf.btn.btn-default(type='button')
          i.fa.fa-print
      table#dataTable.table.table-striped.snipe-table
        
  canvas#barcode
  #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='z-index: 1400;')
    .modal-dialog
      .modal-content
    .modal-dialog
      .modal-content
    .modal-dialog
      form#modalForm.form-horizontal(role='form', name='modalForm', action='')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×   
              span.sr-only Close
            h4#editModalLabel.modal-title Edit #{title}
            .modal-body
              #modalContent
                .form-group
                  label(for='dvc_type_id') Type: 
                  //- select#search.smartsearch(name='search', style='width:100%;')
                  select#modal_dvc_type_id.form-control(name='dvc_type_id',)
                .form-group
                  label(for='name') Name
                  input#modal_name.form-control(name='name', autofocus)
                .form-group
                  label(for='workplaces_id') Workplace: 
                  select#modal_workplaces_id.form-control(name='workplaces_id')
                .form-group
                  label(for='inventory_nr') Inventory Number
                  input#modal_inventory_nr.form-control(name='inventory_nr',)
                .form-group
                  label(for='partners_id') Owner: 
                  select#modal_partners_id.form-control(name='partners_id')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.submit(type='submit') Save changes
  #ComponentsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='z-index: 1400;')
    .modal-dialog
      .modal-content
    .modal-dialog
      .modal-content
    .modal-dialog
      form#modalComponentsForm(role='form', name='modalForm', action='')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×   
              span.sr-only Close
            h4.modal-title Edit components for #{title}
            .modal-body
              #modalComponentsContent
                #componentsToolbar.btn-group
                  button#componentsTable_add.btn.btn-default(type='button',)
                    i.glyphicon.glyphicon-plus
                  button#componentsTable_edit.btn.btn-default(type='button')
                    i.glyphicon.glyphicon-edit
                  button#componentsTable_delete.btn.btn-default(type='button')
                    i.glyphicon.glyphicon-trash   
                table#componentsTable.table.table-striped.snipe-table
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            //- button.btn.btn-primary.submit(type='submit') Save changes
  #editComponentsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='z-index: 1600;')
    .modal-dialog
      .modal-content
    .modal-dialog
      .modal-content
    .modal-dialog
      form#modalEditComponentsForm(role='form', name='modalForm', action='')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×   
              span.sr-only Close
            h4#editComponentsModalLabel.modal-title Edit #{title}
            .modal-body
              #modalEditContent
                .form-group
                  label(for='dvc_type_id') Component : 
                  //- select#search.smartsearch(name='search', style='width:100%;')
                  select#modal_components_id.form-control(name='components_id',)
                .form-group
                  label(for='amount') Qtty :
                  input#modal_component_amount.form-control(type='number', name='amount', min='1',value="1")
                .form-group
                  label(for='serial') Serial Nr :
                  input#modal_components_serial.form-control(name='serial_nr')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.submit(type='submit') Save changes
