extends ../layouts/defaultlayout
block content
  .container-fluid
    .row
      .col-xs-6.form-group
        .panel.panel-default
          .panel-heading General settings
          .panel-body 
            table#general_settings.table.table-condensed
              thead
                tr
                  th Name
                  th Value
                  th Description
              tbody
                tr
                  td Company Name
                  td  
                    input#company_name.form-control(type='text')
                  td 
                tr
                  td admin username
                  td 
                    input#admin_username.form-control(type='text')
                  td 
                tr
                  td admin_password
                  td 
                    input#admin_password.form-control(type='password')
                  td 
                tr
                  td show_column_waranty
                  td 
                    input#show_column_waranty(type='checkbox')
                  td 
                tr
                  td show_column_serial
                  td
                    input#show_column_serial(type='checkbox')
                  td 
                tr
                  td show_column_state
                  td 
                    input#show_column_state(type='checkbox')
                  td 
                tr
                  td show_column_country
                  td 
                    input#show_column_country(type='checkbox')
                  td 
                tr
                  td doc_prefix
                  td 
                    input#doc_prefix.form-control(type='text')
                  td 
                tr
                  td unique_ip
                  td
                    input#unique_ip(type='checkbox')
                  td 
      .col-xs-6.form-group
        .panel.panel-default
          .panel-heading Default values
          .panel-body 
            table#default_settings.table.table-condensed
              thead
                tr
                  th Name
                  th Value
                  th Description
              tbody
                tr
                  td default_workplace_type
                  td Doe
                  td 
                tr
                  td default_storehouse
                  td Moe
                  td 
                tr
                  td default_set_type
                  td Dooley
                  td 
                tr
                  td default_set_number
                  td Doe
                  td 
                tr
                  td default_state
                  td Moe
                  td 
                tr
                  td default_state_broken
                  td Dooley
                  td 
                tr
                  td default_state_working
                  td Doe
                  td 
                tr
                  td Default start page
                  td 
                    input#default_start_page.form-control(type='text')
                  td 
                tr
                  td default_currency
                  td Dooley
                  td 
    
  script(src='/javascripts/pages/parameters.js')
