extends ../layouts/tablelayout

block content
  link(rel='stylesheet', href='/public/easy-autocomplete/easy-autocomplete.css')
  script(src='/public/easy-autocomplete/jquery.easy-autocomplete.js')
  script.
    $(document).ready(function() {
      $('#Data_Table').DataTable( {
        "ajax": {
          "url": "/api/employees/pretty",
          "dataSrc": "data",
          "stateSave": true
        },
        "columns": [
          { "data": "id" },
          { "data": "name" },
          { "data": "department" },
          { "data": "position" }
        ]
      });
      // Setup - add a text input to each footer cell
      $('#Data_Table tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      });
      // DataTable
      var table = $('#Data_Table').DataTable();
      // Apply the search
      table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
          if ( that.search() !== this.value ) {
          that
            .search( this.value )
            .draw();
          }
        });
      });


    //Table click event
    $('#Data_Table tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
          $(this).removeClass('selected');
          $('#bedit').prop('disabled', true);
          $('#bdelete').prop('disabled', true);
        }else {
          table.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
          $('#bedit').prop('disabled', false);
          $('#bdelete').prop('disabled', false);
        }
      });

    //edit button
    $('#bedit').click( function () {
        var rowID = table.row( '.selected' ).data()["id"];
        $.ajax({
            type: 'GET',
            url: "/api/employees/"+rowID,
            contentType: "application/json",
            success: function(data) {
              var employe = data.data
              console.log("edit employe ", employe.id);
              $('#iid').val(employe.id),
              $('#iname').val(employe.name),
              $('#idepartment').val("IT"),
              //$('#iposition').val("SysAdmin"),
              $('#wpAdd').modal('show')
              },
            error: function() { alert("error retrieve employe data"); },
          })
      });

    //delete button
    $('#bdelete').click( function () {
        //table.row('.selected').remove().draw( false );
        var rowID = table.row( '.selected' ).data()["id"];
        if (confirm('Are you sure you want to delete employe ' +table.row( '.selected' ).data()["name"]+'?')) {
            $.ajax({
                type: 'DELETE',
                url: "/api/employees/"+rowID,
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    console.log("deleted employe ", rowID);
                    $('#Data_Table').DataTable().ajax.reload(null, false);
                    $('#bdelete').prop('disabled', true);
                  },
                error: function() { alert("error deleting table data"); },
              })
        }
      });

    $('#wpAdd').on('hidden.bs.modal', function (e) {
      document.getElementById("iname").value = "";
      document.getElementById("iid").value = "";
    })


    var dep_options = {
        url: "http://localhost:3000/api/departments",
        theme: "square",
        list: {
    		onSelectItemEvent: function() {
        			var value = $("#idepartment").getSelectedItemData().id;

        			$("#department_holder").val(value).trigger("change");
        		}
        	},
        
        listLocation: "data",
        getValue: "name"
    };
    $("#idepartment").easyAutocomplete(dep_options);
    
    //var pos_options = {
    //    url: "http://localhost:3000/api/positions",
    //    theme: "square",
    //    list: {
    //    onSelectItemEvent: function() {
    //          var value = $("#iposition").getSelectedItemData().id;

    //          $("#position_holder").val(value).trigger("change");
    //        }
    //      },
    //    
    //    listLocation: "data",
    //    getValue: "name"
    //};
    //$("#iposition").easyAutocomplete(pos_options);
    
    //$('#iposition').autocomplete({
    //      serviceUrl: '/departments',
          //onSelect: function (suggestion) {
          //    alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
          //}
          //paramName: 'name',
          //transformResult: function(response) {
          //    return {
          //        suggestions: $.map(response.data, function(dataItem) {
          //            return { value: dataItem.id, data: dataItem.name };
          //        })
          //    };
          //}
    //});

    //function getState(val) {
    //  	$.ajax({
    //  	type: "get",
    //  	url: "/api/departments",
    //  	data:'country_id='+val,
    //  	success: function(data){
    //  		$("#idepartments").html(data);
    //  	}
    //  	});
    //  }
    
    //$("#iposition").bsSuggest({
    //  url: "/api/departments",
    //  searchFields: [ "name"],
    //  effectiveFieldsAlias:{name: "Name"},
    //  idField: "ID",
    //  keyField: "name"
    //})
    $('#iposition').autoComplete({
          minChars: 2,
          source: function(term, suggest){
              term = term.toLowerCase();
              var choices = ['ActionScript', 'AppleScript', 'Asp', '...'];
              var matches = [];
              for (i=0; i<choices.length; i++)
                  if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
              suggest(matches);
          }
      });
    //Save Modal Function
    $('#ModalSave').click( function () {
        var id = 0;
        var method = 'POST'
        var employees_url = "/api/employees"
        if ($('#iid').val()){
          method = 'PUT'
          employees_url = "/api/employees/" + $('#iid').val()
        }
        var name = $('#iname').val()
        var employe = JSON.stringify({
            "id":         $('#iid').val(),
            "name":       $('#iname').val(),
            "department_id":  $('#department_holder').val(),
            "position_id":  $('#position_holder').val()
          });
        $.ajax({
            type: method,
            url: employees_url,
            data: employe,
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
                console.log("Data added employe ", data.data.name);
                $('#Data_Table').DataTable().ajax.reload(null, false);
                $('#iid').val(data.data.id);
              },
            error: function() { alert("error updating table data"); },
          })
      })
    });

  table#Data_Table.table.table-striped.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th Id
        th Name
        th Department
        th Position
    tfoot
      tr
        th Id
        th Name
        th Department
        th Position
        // Modal
  #wpAdd.modal.fade(role="dialog")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal") ×
          h4.modal-title Add employe
        .modal-body
          .box-body.collapse.in
            .form-group
              label(for="iid") Id
              .icon-before-input
                input#iid.form-control.input-sm(type="text", placeholder="new", disabled="")
                .icon
                  i.fa.fa-fw.fa-pencil
              label(for="iname") Name
              .icon-before-input
                input#iname.form-control.input-sm(type="text", placeholder="Name ...")
                .icon
                  i.fa.fa-fw.fa-pencil
              label(for="idepartment") Department
              .icon-before-input
                input#idepartment.form-control.input-sm(type="text", style="width: 240px; min-width: 240px;", placeholder="Department ...")
                .icon
                  i.fa.fa-fw.fa-pencil
                input#department_holder(style="display:none;")
              label(for="iposition") Position
              .icon-before-input
                input#iposition.form-control.input-sm(type="text", style="width: 240px; min-width: 240px;", placeholder="Position ...")
                .icon
                  i.fa.fa-fw.fa-pencil
                input#position_holder(style="display:none;")
        .modal-footer
          button#ModalSave.btn.btn-primary(type="button") Save
          button.btn.btn-default(type="button", data-dismiss="modal") Close
