doctype html
html(lang="en")
	head
		title Bootstrap Example
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	body
		.container
			h2 Large Modal
			// Trigger the modal with a button
			button.btn.btn-info.btn-lg(type="button", data-toggle="modal", data-target="#myModal") Open Large Modal
			// Modal
			#myModal.modal.fade(role="dialog")
				.modal-dialog.modal-lg
					.modal-content
						.modal-header
							button.close(type="button", data-dismiss="modal") ×
							h4.modal-title Modal Header
						.modal-body
							p This is a large modal.
						.modal-footer
							button.btn.btn-default(type="button", data-dismiss="modal") Close
