doctype html
html
  head#idheader
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title NodeInventory - #{title}
    // Bootstrap CSS CDN
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // Our Custom CSS
    link(rel='stylesheet', href='/stylesheets/menustyle.css')
    // Scrollbar Custom CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // jQuery CDN
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    // Bootstrap Js CDN
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // jQuery Custom Scroller CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js')
  body
    .wrapper
      // Sidebar Holder
      include defaultmenu
      // Page Content Holder
      #content
        include defaultheader
        block aditional_headers
        block content
    .overlay
    
    script(type='text/javascript').
      $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
          theme: "minimal"
        });
        $('#dismiss, .overlay').on('click', function () {
          $('#sidebar').removeClass('active');
          $('.overlay').fadeOut();
        });
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').addClass('active');
          $('.overlay').fadeIn();
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        
        var url = window.location;
        var element = $('.nav li a').filter(function() {
            return this.href == url || url.href.indexOf(this.href) == 0;
        }).parent().addClass('active').parent().addClass('in').parent();
        if (element.is('li')) {
            element.addClass('active');
            //- console.log(element[0].children[1].removeClass("collapse"))
            //- element.children[2].removeClass("collapse")
            //- element.attr("aria-expanded","true");
            //- element.firstChild().removeClass("collapse")
        }        
        //- var pathname = window.location.pathname;
        //- $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
      });      
    
