nav#sidebar
  #dismiss
    i.glyphicon.glyphicon-arrow-left
  .sidebar-header
    h3 CF Inventory
  ul.list-unstyled.components.nav
    //- p Dummy Heading
    li
      a(href='/dashboard') Dashboard
    li.nav-divider
    li
      a(href='/workplaces') Workplaces
    li
      a(href='#reportsSubmenu', data-toggle='collapse', aria-expanded='false') Reports
      ul#reportsSubmenu.collapse.list-unstyled
        li
          a(href='/rp/user_devices') User devices
        li
          a(href='#') Report 2
        li
          a(href='#') Report 3
    li
      a(href='#hwSubmenu', data-toggle='collapse', aria-expanded='false') Hardware
      ul#hwSubmenu.collapse.list-unstyled
        li
          a(href='/hw/devices') Devices
        li.nav-divider
        li
          a(href='/hw/components') Components
        li
          a(href='/hw/cpnt_type') Component type
        li
          a(href='/hw/cpnt_status') Components status
        li.nav-divider
        li
          a(href='/hw/dvc_type') Devices type
        li
          a(href='/hw/wp_type') Workplace type
    li
      a(href='#netSubmenu', data-toggle='collapse', aria-expanded='false') Network
      ul#netSubmenu.collapse.list-unstyled
        li
          a(href='/net/switches') Switches
        li
          a(href='/net/vlans') VLANs
        li
          a(href='/net/ppanels') PatchPanels
        li
          a(href='/net/sgroups') Socket Groups
    li.nav-divider
    li
      a(href='#hrSubmenu', data-toggle='collapse', aria-expanded='false') HR
      ul#hrSubmenu.collapse.list-unstyled
        li
          a(href='/hr/employees') Employees
        li
          a(href='/hr/departments') Departments
        li
          a(href='/hr/positions') Positions
    li
      a(href='#cmSubmenu', data-toggle='collapse', aria-expanded='false') Commerce
      ul#cmSubmenu.collapse.list-unstyled
        li
          a(href='#') Procurements
        li
          a(href='/commerce/partners') Companies
        li
          a(href='/commerce/manufacturers') Manufacturers
    li.nav-divider
    li
      a(href='#confSubmenu', data-toggle='collapse', aria-expanded='false') Configs
      ul#confSubmenu.collapse.list-unstyled
        li
          a(href='/settings/parameters') Parameters
  
