nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button#sidebarCollapse.btn.btn-info.navbar-btn(type='button')
        i.glyphicon.glyphicon-align-left
        span Open Sidebar
      |  NodeInventory - #{title}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/dashboard') Dashboard
        li
          a(href='/workplaces') Workplaces
        li
          a(href='/hw/devices') Devices
        li
          a(href='/hw/components') Components
        li
          a(href='/hr/employees') Employees
