doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title NodeInventory | #{title}
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.7
    //- link(rel='stylesheet', href='../../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    // Font Awesome
    //- link(rel='stylesheet', href='../../bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // Ionicons
    //- link(rel='stylesheet', href='../../bower_components/Ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.4/css/ionicons.min.css')
    // Theme style
    //- link(rel='stylesheet', href='../../dist/css/AdminLTE.min.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/css/AdminLTE.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.5/css/AdminLTE.min.css')
    //
      AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load.
    //- link(rel='stylesheet', href='../../dist/css/skins/_all-skins.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/css/skins/_all-skins.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Google Font
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
    //Bootstrap table
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/filter-control/bootstrap-table-filter-control.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/group-by-v2/bootstrap-table-group-by.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.2/css/tableexport.min.css')
  body.hold-transition.skin-blue.sidebar-mini
    // Site wrapper
    .wrapper
      include main_header2
      // ===============================================
      include main_menu2
      // ===============================================
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        //section.content-header
          h1
            | Blank page
            small it all starts here
          ol.breadcrumb
            li
              a(href='#')
                i.fa.fa-dashboard
                |  Home
            li
              a(href='#') Examples
            li.active Blank page
        // Main content
        section.content
          block content
        // /.content
      // /.content-wrapper
      //footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  2.4.0
        strong
          | Copyright © 2014-2016
          a(href='https://adminlte.io') Almsaeed Studio
          | .
        |  All rights
        |     reserved.
      // Control Sidebar
      //aside.control-sidebar.control-sidebar-dark
        // Create the tabs
        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          li
            a(href='#control-sidebar-home-tab', data-toggle='tab')
              i.fa.fa-home
          li
            a(href='#control-sidebar-settings-tab', data-toggle='tab')
              i.fa.fa-gears
        // Tab panes
        .tab-content
          // Home tab content
          #control-sidebar-home-tab.tab-pane
            h3.control-sidebar-heading Recent Activity
            ul.control-sidebar-menu
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-birthday-cake.bg-red
                  .menu-info
                    h4.control-sidebar-subheading Langdon's Birthday
                    p Will be 23 on April 24th
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-user.bg-yellow
                  .menu-info
                    h4.control-sidebar-subheading Frodo Updated His Profile
                    p New phone +1(800)555-1234
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-envelope-o.bg-light-blue
                  .menu-info
                    h4.control-sidebar-subheading Nora Joined Mailing List
                    p nora@example.com
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-file-code-o.bg-green
                  .menu-info
                    h4.control-sidebar-subheading Cron Job 254 Executed
                    p Execution time 5 seconds
            // /.control-sidebar-menu
            h3.control-sidebar-heading Tasks Progress
            ul.control-sidebar-menu
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Custom Template Design
                    span.label.label-danger.pull-right 70%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-danger(style='width: 70%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Update Resume
                    span.label.label-success.pull-right 95%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-success(style='width: 95%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Laravel Integration
                    span.label.label-warning.pull-right 50%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-warning(style='width: 50%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Back End Framework
                    span.label.label-primary.pull-right 68%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-primary(style='width: 68%')
            // /.control-sidebar-menu
          // /.tab-pane
          // Stats tab content
          #control-sidebar-stats-tab.tab-pane Stats Tab Content
          // /.tab-pane
          // Settings tab content
          #control-sidebar-settings-tab.tab-pane
            form(method='post')
              h3.control-sidebar-heading General Settings
              .form-group
                label.control-sidebar-subheading
                  | Report panel usage
                  input.pull-right(type='checkbox', checked='')
                p
                  | Some information about this general settings option
              // /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Allow mail redirect
                  input.pull-right(type='checkbox', checked='')
                p
                  | Other sets of options are available
              // /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Expose author name in posts
                  input.pull-right(type='checkbox', checked='')
                p
                  | Allow the user to show his name in blog posts
              // /.form-group
              h3.control-sidebar-heading Chat Settings
              .form-group
                label.control-sidebar-subheading
                  | Show me as online
                  input.pull-right(type='checkbox', checked='')
              // /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Turn off notifications
                  input.pull-right(type='checkbox')
              // /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Delete chat history
                  a.text-red.pull-right(href='javascript:void(0)')
                    i.fa.fa-trash-o
              // /.form-group
          // /.tab-pane
      // /.control-sidebar
      //
        Add the sidebar's background. This div must be placed
        immediately after the control sidebar
      .control-sidebar-bg
    // ./wrapper
    // jQuery 3
    //script(src='../bower_components/jquery/dist/jquery.min.js') 
    scrip(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    // Bootstrap 3.3.7
    // script(src='../../bower_components/bootstrap/dist/js/bootstrap.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    // SlimScroll
    //script(src='../bower_components/jquery-slimscroll/jquery.slimscroll.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js')
    // FastClick
    //script(src='../bower_components/fastclick/lib/fastclick.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js')
    // AdminLTE App
    //script(src='/javascripts/adminlte.min.js') 
    //scrip(src='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/adminlte.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.5/js/adminlte.min.js')
    // AdminLTE for demo purposes
    //script(src='../dist/js/demo.js') 
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/demo.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.2/xlsx.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.37/jspdf.plugin.autotable.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/filter-control/bootstrap-table-filter-control.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/select2-filter/bootstrap-table-select2-filter.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/export/bootstrap-table-export.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/jquery.treetable.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/group-by-v2/bootstrap-table-group-by.min.js')
    //scrip(src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js')
    //script(src='/javascripts/tableExport.js')
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.37/pdfmake.min.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.37/vfs_fonts.js")

    
    
    script.
      $(document).ready(function () {
        $('.sidebar-menu').tree() 
      })
    block pagescripts
