doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Node Inventory - #{title}
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    // Vendor stylesheet files. REQUIRED
    // BEGIN: Vendor
    link(rel='stylesheet', href='../assets/css/vendor.css')
    // END: core stylesheet files
    // Plugin stylesheet files. OPTIONAL
    // END: plugin stylesheet files
    // Theme main stlesheet files. REQUIRED
    link(rel='stylesheet', href='../assets/css/chl.css')
    link#theme-list(rel='stylesheet', href='../assets/css/theme-peter-river.css')
    // END: theme main stylesheet files
    // begin pace.js
    link(rel='stylesheet', href='../assets/vendor/pace/themes/blue/pace-theme-minimal.css')
    script(src='../assets/vendor/pace/pace.js')
    // END: pace.js
  body
    // begin .app
    .app
      // begin .app-wrap
      .app-wrap
        include main_header
        // begin .app-container
        .app-container
          include main_menu
          // begin side-collapse-visible bar
          .side-visible-line.hidden-xs(data-side='mini')
            i.fa.fa-caret-left
          // begin side-collapse-visible bar
          // begin .app-main
          .app-main
            //- // begin .main-heading
            //- header.main-heading.shadow-2dp
            //-   // begin dashhead
            //-   .dashhead.bg-white
            //-     .dashhead-titles
            //-       h6.dashhead-subtitle
            //-         | chl / blank
            //-       h3.dashhead-title One Column Content
            //-     .dashhead-toolbar
            //-       .dashhead-toolbar-item
            //-         a(href='index.html') chl
            //-         |                   / blank / One Column Content
            //-   // END: dashhead
            //- // END: .main-heading
            // begin .main-content
            .main-content.bg-clouds
              block content
            // END: .main-content
            //- // begin .main-footer
            //- footer.main-footer.bg-white.p-a-5
            //-   | main footer
            //- // END: .main-footer
          // END: .app-main
        // END: .app-container
        // begin .app-footer
        footer.app-footer.p-t-10.text-white
          .container-fluid
            p.text-center.small
              | Copyright AP v0.1.1 © 2018
        // END: .app-footer
      // END: .app-wrap
    // END: .app
    span#totop.fa.fa-angle-up(data-plugin='totop')
    // Vendor javascript files. REQUIRED
    script(src='../assets/js/vendor.js')
    // END: End javascript files
    // Plugin javascript files. OPTIONAL
    // END: plugin javascript files
    // Demo javascript files. NOT REQUIRED
    // END: demo javascript files
    script(src='../assets/js/chl.js')
    script(src='../assets/js/chl-demo.js')
