// begin .app-heading
header.app-heading
  header#top-search.canvas.is-fixed.is-top.bg-white.p-v-15.shadow-4dp
    .container-fluid
      .input-group.input-group-lg.icon-before-input
        input.form-control.input-lg.b-0(type='text', placeholder='Search for...')
        .icon.z-3
          i.fa.fa-fw.fa-lg.fa-search
        span.input-group-btn
          button.btn.btn-danger.btn-line.b-0(data-target='#top-search', data-toggle='canvas')
            i.fa.fa-fw.fa-lg.fa-times
      // /input-group
  // begin .navbar
  nav.navbar.navbar-default.navbar-static-top.shadow-2dp
    // begin .navbar-header
    .navbar-header
      // begin .navbar-header-left with image
      .navbar-header-left.b-r
        // begin logo
        a.logo(href='/')
          span.logo-xs.visible-xs
            img(src='../assets/img/logo_xs.svg', alt='logo-xs')
          span.logo-lg.hidden-xs
            img(src='../assets/img/logo_lg.svg', alt='logo-lg')
        // end logo
      // END: .navbar-header-left with image
      nav.nav.navbar-header-nav
        a.b-r(href='#', data-side='collapse')
          i.fa.fa-fw.fa-bars
        //- a.hidden-xs.b-r(href='#', data-side='mini')
        //-   i.fa.fa-fw.fa-bars
        form.navbar-form.hidden-xs.b-r
          .icon-after-input
            input.form-control(type='text', placeholder='Search')
            .icon
              a(href='#')
                i.fa.fa-fw.fa-search
      ul.nav.navbar-header-nav.m-l-a
        li.visible-xs.b-l
          a(href='#top-search', data-toggle='canvas')
            i.fa.fa-fw.fa-search
        li.active
          a(href='/workplaces') Dashboard
        li
          a(href='/workplaces') Workplaces
        li
          a(href='/hw/devices') Devices
        li
          a(href='/hw/components') Components
        li
          a(href='/hr/employees') Employees
        //- li.dropdown.b-l
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            span.b-wisteria.fa.fa-fw.fa-envelope-o.u-posRelative
            span.label.label-primary.b-orange
              | 8
              span.waves
          ul.dropdown-menu.animated.fadeInDown.w-sm.pull-right
            li.b-b
              .media
                .media-left
                  a.profile-pic(href='#')
                    img.media-object(src='../assets/img/w2.svg', alt='...')
                .media-body
                  h5.media-heading
                    small.pull-right 12 hours ago
                    b Leanne Graham
                  |                         started following
                  strong Ervin Howell 
                  p.text-muted 3 days ago at 7:12 pm - 10.12.2016
            li.b-b
              .media
                .media-left
                  a.profile-pic(href='#')
                    img.media-object(src='../assets/img/m2.svg', alt='...')
                .media-body
                  h5.media-heading
                    small.pull-right 12 hours ago
                    b Leanne Graham
                  |                         started following
                  strong Ervin Howell 
                  p.text-muted 3 days ago at 7:12 pm - 10.12.2016
            li
              a.text-center.u-block.text-asbestos(href='app-mail-inbox.html')
                i.fa.fa-envelope
                |  Read All Messages
        //- li.dropdown.b-l
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            i.fa.fa-fw.fa-bell
            span.point.bg-carrot.b-peter-river
              span.waves
          ul.dropdown-menu.pull-right.w-sm.animated.fadeInUp
            li.p-a-15
              a(href='app-mail-inbox.html')
                .clearfix
                  span.pull-right.text-muted.small 4 minutes ago
                  i.fa.fa-envelope.fa-fw
                  small 12 messages
            li.p-a-15
              a(href='app-mail-inbox.html')
                .clearfix
                  span.pull-right.text-muted.small 3 minutes ago
                  i.fa.fa-twitter.fa-fw
                  small 4 follower
            li.divider(role='separator')
            li.text-right
              a.text-wisteria(href='#')
                | See all notification
        li.dropdown.b-l
          a.dropdown-toggle.profile-pic(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            img.img-circle(src='../assets/img/w1.svg', alt!=user_name)
            b.hidden-xs.hidden-sm #{ user_name }
          ul.dropdown-menu.animated.flipInY.pull-right
            li
              a(href='#') Profile
            li
              a(href='#') Contacts
            li
              a(href='#') Mail Box
            li.divider(role='separator')
            li
              a(href='/logout')
                i.fa.fa-fw.fa-sign-out
                |                       Logout
        // begin mega-menu
        //- li.dropdown.u-posStatic.hidden-xs.b-l
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Mega
            span.caret
          ul.dropdown-menu.nav-full-item
            li
              .container-fluid
                .row
                  .col-sm-4
                    h1.text-muted Heading 1
                    h2.text-primary Heading 2
                    h3.text-warning Heading 3
                    h4.text-danger Heading 4
                    h5.text-success Heading 5
                    h6.text-info Heading 6
                  .col-sm-4
                    p Default paragraph
                    p.lead lead paragraph
                    p.text-muted Muted paragraph
                    p.text-warning warning paragraph
                    p.text-primary primary paragraph
                    p.text-info info paragraph
                    p.text-success success paragraph
                    p.text-danger danger paragraph
                  .col-sm-4
                    img.img-responsive(src='../assets/img/p1.svg', alt='')
        // END: mega-menu
    // END: .navbar-header
  // END: .navbar
// END:  .app-heading
