// begin .app-side
aside.app-side
  // begin .side-content
  .side-content
    // begin user-panel
    .user-panel
      .user-image
        a(href='#')
          img.img-circle(src='../assets/img/m1.svg', alt='John Doe')
      .user-info
        h5 John Doe
        ul.nav
          li.dropdown
            a.text-turquoise.small.dropdown-toggle.bg-transparent(href='#', data-toggle='dropdown')
              i.fa.fa-fw.fa-circle
              |  Online
            ul.dropdown-menu.animated.flipInY.pull-right
              li
                a(href='#') Profile
              li
                a(href='#') Contacts
              li
                a(href='#') Mail Box
              li.divider(role='separator')
              li
                a(href='#')
                  i.fa.fa-fw.fa-sign-out
                  |  Logout
    // END: user-panel
    // begin .side-nav
    nav.side-nav
      // BEGIN: nav-content
      ul.metismenu.nav.nav-inverse.nav-bordered.nav-stacked(data-plugin='metismenu')
        //- each item in #
        //-   li= item
        //- li.nav-header #{menu_items.description}
        //- #{menu_items.MenuItems}.forEach(function(item) {
        //-   li= item.name
        //- })
        //- li.active
        each header in menu_items.MenuItems
          if header.isDivider
            li.nav-divider
          else
            li.nav-header #{header.name}
            each menu in header.items
              if menu.isDivider
                li.nav-divider
              else if menu.isMenu
                li
                  a(href='javascript:;')
                    span.nav-icon
                      i.fa.fa-fw(class='fa-'+menu.icon)
                    span.nav-title #{menu.name}
                    span.nav-tools
                      i.fa.fa-fw.arrow
                  ul.nav.nav-sub.nav-stacked
                    each submenu in menu.items
                      li
                        a(href=submenu.url)
                          span.nav-icon
                            i.fa.fa-fw(class='fa-'+submenu.icon)
                          span.nav-title  #{submenu.name}
                        //- a.active(href='blank-one-col.html') #{submenu.name}
              else
                li
                  a(href='/')
                    span.nav-icon
                      i.fa.fa-fw(class='fa-'+menu.icon)
                    span.nav-title #{menu.name}
              

        li.nav-header MAIN
        li
          a(href='/')
            span.nav-icon
              i.fa.fa-fw.fa-cogs
            span.nav-title Dashboard
        li.nav-divider
        li.nav-header Components
        // BEGIN: chart
        li
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-bar-chart-o
            span.nav-title Chart
            span.nav-tools
              i.fa.fa-fw.arrow
              span.label.label-primary 4
          ul.nav.nav-sub.nav-stacked
            li
              a(href='chart-quick.html') Quick Chart
            li
              a(href='chart-chartjs.html') Chart.js
            li
              a(href='chart-morris.html') Morris
            li
              a(href='chart-flot.html') Flot
            li
              a(href='chart-inline.html') Inline charts
        // END: chart
        // BEGIN: maps
        li
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-map
            span.nav-title Maps
            span.nav-tools
              i.fa.fa-fw.arrow
          ul.nav.nav-sub.nav-stacked
            li
              a(href='map-google.html') Google Maps
            li
              a(href='map-vector.html') Vector Maps
        // END: maps
        // BEGIN: ui
        li
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-tachometer
            span.nav-title UI
            span.nav-tools
              i.fa.fa-fw.arrow
          ul.nav.nav-sub.nav-stacked
            li
              a(href='ui-general.html') General
            li
              a(href='ui-font.html') Font
            li
              a(href='ui-widgets.html') Widgets
            li
              a(href='ui-loaders.html') Loaders
            li
              a(href='ui-momentum.html') Momentum
            li
              a(href='ui-nav.html') Nav
            li
              a(href='ui-todo.html') Todo
            li
              a(href='ui-mega.html') Mega Menu
            li
              a(href='ui-tab.html') Tab
            li
              a(href='ui-color.html') Colors
            li
              a(href='ui-button.html') Buttons
            li
              a(href='ui-canvas.html') Canvas
            li
              a(href='ui-slider.html') Slider
            li
              a(href='ui-timeline.html') Timeline
            // BEGIN: icon
            li
              a(href='javascript:;')
                span.nav-title Icons
                span.nav-tools
                  i.fa.fa-fw.arrow
              ul.nav.nav-sub.nav-stacked
                li
                  a(href='ui-icon-awesome.html')
                    span.nav-icon
                      i.fa.fa-fw.fa-font-awesome
                    span.nav-title Font Awesome
                li
                  a(href='ui-icon-glyphicon.html')
                    span.nav-icon
                      i.glyphicon.glyphicon-fire
                    span.nav-title Glyphicons
            // END: icon
        // END: ui
        // BEGIN: forms
        li
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-edit
            span.nav-title Forms
            span.nav-tools
              i.fa.fa-fw.arrow
          ul.nav.nav-sub.nav-stacked
            li
              a(href='form-basic.html') Basic
            li
              a(href='form-advanced.html') Advanced
            li
              a(href='form-wizard.html') Wizard
            li
              a(href='form-upload.html') File Upload
            li
              a(href='form-editor.html') Text Editor
        // END: forms
        // BEGIN: table
        li
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-table
            span.nav-title Table
            span.nav-tools
              i.fa.fa-fw.arrow
          ul.nav.nav-sub.nav-stacked
            li
              a(href='table-basic.html') Basic
            li
              a(href='table-sortable.html') Sortable
            li
              a(href='table-datatable.html') Datatables
        // END: table
        // BEGIN: apps
        li
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-pagelines
            span.nav-title App
            span.nav-tools
              i.fa.fa-fw.arrow
          ul.nav.nav-sub.nav-stacked
            li
              a(href='app-calendar.html') Calendar
            li
              a(href='app-gallery.html') Gallery
            li
              a(href='app-login.html') Login
            li
              a(href='app-register.html') Register
            li
              a(href='app-forgot.html') Forgot
            li
              a(href='app-404.html') 404
            li
              a(href='app-500.html') 500
            // BEGIN: mail
            li
              a(href='javascript:;')
                span.nav-icon
                  i.fa.fa-fw.fa-envelope-o
                span.nav-title Mail
                span.nav-tools
                  i.fa.fa-fw.arrow
              ul.nav.nav-sub.nav-stacked
                li
                  a(href='app-mail-inbox.html') Inbox
                li
                  a(href='app-mail-compose.html') Compose
                li
                  a(href='app-mail-read.html') Read
            // END: mail
        // BEGIN: apps
        // BEGIN: blank pages
        li.active
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-square-o
            span.nav-title Blank Pages
            span.nav-tools
              i.fa.fa-fw.arrow
          ul.nav.nav-sub.nav-stacked
            li
              a.active(href='blank-one-col.html') One Column Content
            li
              a(href='blank-two-col-1.html') Two Column Content 1
            li
              a(href='blank-two-col-2.html') Two Column Content 2
            li
              a(href='blank-three-col-1.html') Three Column Content 1
            li
              a(href='blank-three-col-2.html') Three Column Content 2
            li
              a(href='blank-three-col-3.html') Three Column Content 3
            li
              a(href='blank-four-col.html') Four Column Content
        // END: blank pages
        li.nav-divider
        // BEGIN: utility
        li
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-wrench
            span.nav-title Utility
            span.nav-tools
              i.fa.fa-fw.arrow
          ul.nav.nav-sub.nav-stacked
            li
              a(href='u-spacing.html') Spacing
            li
              a(href='u-border.html') Border
            li
              a(href='u-overflow.html') Overflow
            li
              a(href='u-display.html') Display
            li
              a(href='u-flex.html') Flexbox
            li
              a(href='u-shadow.html') Shadow
            li
              a(href='u-waves.html') Waves Effect
        // BEGIN: utility
        li
          a(href='javascript:;')
            span.nav-icon
              i.fa.fa-fw.fa-code
            span.nav-title Multilevel
            span.nav-tools
              i.fa.fa-fw.arrow
          ul.nav.nav-sub
            li
              a(href='javascript:;')
                span.nav-title Level 1
            li
              a(href='javascript:;')
                span.nav-title Level 1
                span.nav-tools
                  i.fa.fa-fw.arrow
              ul.nav.nav-sub
                li
                  a(href='javascript:;')
                    span.nav-title Level 2
                li
                  a(href='javascript:;')
                    span.nav-title Level 2
                    span.nav-tools
                      i.fa.fa-fw.arrow
                  ul.nav.nav-sub
                    li
                      a(href='javascript:;')
                        span.nav-title Level 3
                    li
                      a(href='javascript:;')
                        span.nav-title Level 3
            li
              a(href='javascript:;')
                span.nav-title Level 1
        li.nav-divider
        li
          a(href='document.html')
            span.nav-icon
              i.fa.fa-fw.fa-book.text-alizarin
            span.nav-title Document
        li
          a(href='../firstrtl/index.html')
            span.nav-icon
              i.fa.fa-fw.fa-angle-double-left.text-emerland
            span.nav-title RTL
      // END: nav-content
    // END: .side-nav
  // END: .side-content
  // begin .side-footer
  footer.side-footer.p-h-15.p-t-15.p-b-10
    .progress.is-xs
      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
        span.sr-only 60% Complete
    .progress.is-xs
      .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
        span.sr-only 40% Complete
  // END: .side-footer
// END: .app-side
