header.main-header
  // Logo
  a.logo(href='/')
    // mini logo for sidebar mini 50x50 pixels
    span.logo-mini
      b CF
    // logo for regular state and mobile devices
    span.logo-lg
      b Inventory
  // Header Navbar: style can be found in header.less
  nav.navbar.navbar-static-top
    // Sidebar toggle button
    a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    .navbar-custom-menu
      ul.nav.navbar-nav
        // Messages: style can be found in dropdown.less
        //li.dropdown.messages-menu
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-envelope-o
            span.label.label-success 4
          ul.dropdown-menu
            li.header You have 4 messages
            li
              // inner menu: contains the actual data
              ul.menu
                li
                  // start message
                  a(href='#')
                    .pull-left
                      img.img-circle(src='../../dist/img/user2-160x160.jpg', alt='User Image')
                    h4
                      | Support Team
                      small
                        i.fa.fa-clock-o
                        |  5 mins
                    p Why not buy a new awesome theme?
                // end message
            li.footer
              a(href='#') See All Messages
        // Notifications: style can be found in dropdown.less
        li
          a(href='/dashboard')
            i.fa.fa-tachometer
        li
          a(href='/workplaces')
            i.fa.fa-table
        li
          a(href='/hw/devices')
            i.fa.fa-cogs
        li
          a(href='/hw/components')
            i.fa.fa-cog
        li
          a(href='/hr/employees')
            i.fa.fa-user
        form.navbar-form.navbar-left.form-horizontal(role='search', action='/hw/bytag', method='get')
          .col-xs-12.col-md-12
            .col-xs-12.form-group
              label.sr-only(for='tagSearch') Lookup by IN
              input#tagSearch.form-control(type='text', name='assetTag', placeholder='Lookup by IN')
              input(type='hidden', name='topsearch', value='true')
            .col-xs-1
              button.btn.btn-primary.pull-right(type='submit')
                i.fa.fa-search
        li.dropdown.notifications-menu
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-bell-o
            span.label.label-warning 10
          ul.dropdown-menu
            li.header You have 10 notifications
            li
              // inner menu: contains the actual data
              ul.menu
                li
                  a(href='#')
                    i.fa.fa-users.text-aqua
                    |  5 new members joined today
            li.footer
              a(href='#') View all
        // Tasks: style can be found in dropdown.less
        //li.dropdown.tasks-menu
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-flag-o
            span.label.label-danger 9
          ul.dropdown-menu
            li.header You have 9 tasks
            li
              // inner menu: contains the actual data
              ul.menu
                li
                  // Task item
                  a(href='#')
                    h3
                      | Design some buttons
                      small.pull-right 20%
                    .progress.xs
                      .progress-bar.progress-bar-aqua(style='width: 20%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                        span.sr-only 20% Complete
                // end task item
            li.footer
              a(href='#') View all tasks
        // User Account: style can be found in dropdown.less
        li.dropdown.user.user-menu
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            img.user-image(src='/images/user-logo.png', alt='User Image')
            span.hidden-xs #{ user_name }
          ul.dropdown-menu
            // User image
            li.user-header
              img.img-circle(src='/images/user-logo.png', alt='User Image')
              p
                | #{ user_name }
                small Profile menu
            // Menu Body
            li.user-body
              .row
                .col-xs-4.text-center
                  a(href='#') Followers
                .col-xs-4.text-center
                  a(href='#') Sales
                .col-xs-4.text-center
                  a(href='#') Friends
              // /.row
            // Menu Footer
            li.user-footer
              .pull-left
                a.btn.btn-default.btn-flat(href='#') Profile
              .pull-right
                a.btn.btn-default.btn-flat(href='#') Sign out
        // Control Sidebar Toggle Button
        //li
          a(href='#', data-toggle='control-sidebar')
            i.fa.fa-gears
