extends ../layouts/main_layout2

block content
  // Default box
  .box
    .box-header.with-border
      h3.box-title #{title}
      .box-tools.pull-right
        button.btn.btn-box-tool(type='button', data-widget='collapse', data-toggle='tooltip', title='Collapse')
          i.fa.fa-minus
        //button.btn.btn-box-tool(type='button', data-widget='remove', data-toggle='tooltip', title='Remove')
          i.fa.fa-times
    .box-body
      block simple_content
    // /.box-body
    //.box-footer
      | Footer
    // /.box-footer
  // /.box
