extends ../layouts/simple_page2
block pagescripts
  style.
    td.min, th.min {
     width: 1% !important;
     white-space: nowrap !important;
   }
  script.
    table_source="#{table_source}"
    title="#{title}"
  script(src='/javascripts/pages/simple_table2.js')
    
  

block simple_content
  //.content-wrapper
    // Content Header (Page header)
    //section.content-header(style='padding-bottom: 30px;')
      //h1.pull-left
        | Asset Depreciations
      .pull-right
        a.btn.btn-primary.pull-right(href='http://10.102.29.28:8080/depreciations/create')
          | Create New
    section.content
      // Notifications
      //.row
      // Content
      #webui
  //- .row
  //-   .col-md-12
  //-     .box.box-default
  .box-body
    .table-responsive
      #toolbar.btn-group
        button#table_add.btn.btn-default(type='button',)
          i.glyphicon.glyphicon-plus
        button#table_edit.btn.btn-default(type='button')
          i.glyphicon.glyphicon-edit
        button#table_delete.btn.btn-default(type='button')
          i.glyphicon.glyphicon-trash
        button#table_pdf.btn.btn-default(type='button')
          i.fa.fa-print
      table#dataTable.table.table-striped.snipe-table
        
  //| Main table
  #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
    .modal-dialog
      .modal-content
    .modal-dialog
      form#modalForm(role='form', name='modalForm', action='')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×   
              span.sr-only Close
            h4#editModalLabel.modal-title Edit #{title}
            .modal-body
              #modalContent
                //form#modalForm(role='form', name='modalForm', action='')
                  //.form-group
                    label(for='')
                    input#0.form-control(name='0', value='undefined')
                .form-group
                  label(for='Name') Name
                  input#modal_name.form-control(name='name', autofocus)
                  //.form-group
                    label(for='')
                    input#2.form-control(name='2', value='undefined')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.submit(type='submit') Save changes
  
