extends ../layouts/defaultlayout
block aditional_headers
  link(rel='stylesheet', href='/vendor/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/vendor/datatables/css/jquery.dataTables.css')
  script(src='/vendor/datatables/js/jquery.dataTables.js')
  script(src='/vendor/datatables/js/dataTables.bootstrap.js')
  script.
    $(function(){
      var table = $('#Data_Table').DataTable( {
        "ajax": {
          "url": "#{table_source}#{table_pretty}",
          "dataSrc": "data",
          "stateSave": true
        },
        "columns": #{table_columns}
      });
      
      // Setup - add a text input to each footer cell
      $('#Data_Table tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      });
      
      // Apply the search
      table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
          if ( that.search() !== this.value ) {
          that
            .search( this.value )
            .draw();
          }
        });
      });

      //Table click event
      $('#Data_Table tbody').on( 'click', 'tr', function () {
          if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
            $('#bedit').prop('disabled', true);
            $('#bdelete').prop('disabled', true);
          }else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            $('#bedit').prop('disabled', false);
            $('#bdelete').prop('disabled', false);
          }
        });
        
      //delete button
      $('#bdelete').click( function () {
          //table.row('.selected').remove().draw( false );
          var rowID = table.row( '.selected' ).data()["id"];
          if (confirm('Are you sure you want to delete reccord ' +table.row( '.selected' ).data()["name"]+'?')) {
              $.ajax({
                  type: 'DELETE',
                  url: "#{table_source}"+rowID,
                  contentType: "application/json",
                  dataType: "json",
                  success: function(data) {
                      console.log("deleted reccord ", rowID);
                      $('#Data_Table').DataTable().ajax.reload(null, false);
                      $('#bdelete').prop('disabled', true);
                    },
                  error: function() { alert("error deleting table data"); },
                })
          }
        });

      $('#wpAdd').on('hidden.bs.modal', function (e) {
        $('#iname').val("");
        $('#iid').val("");
      })
    });
  .row
    .btn-toolbar
      button#badd.btn.btn-success(type="button", data-toggle="modal", data-target="#wpAdd") Add
      button#bedit.btn.btn-warning(type="button", disabled="") Edit
      button#bdelete.btn.btn-danger(type="button", disabled="") Delete
