doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Login
    // Core stylesheet files. REQUIRED
    // Bootstrap
    link(rel='stylesheet', href='../assets/vendor/bootstrap/css/bootstrap.css')
    // Font Awesome
    // WARNING: Font Awesome doesn't work if you view the page via file://
    link(rel='stylesheet', href='../assets/vendor/font-awesome/css/font-awesome.css')
    // animate.css
    link(rel='stylesheet', href='../assets/vendor/animate.css/animate.css')
    // END: core stylesheet files
    // Theme main stlesheet files. REQUIRED
    link(rel='stylesheet', href='../assets/css/chl.css')
    link(rel='stylesheet', href='../assets/css/theme-peter-river.css')
    // END: theme main stylesheet files
    style(media='screen').
      /*.app {
      background-image: url("../assets/img/bg.svg");
      background-repeat: no-repeat;
      background-size: cover;
      }*/
  body.bg-clouds
    .app
      .app-login
        .text-center.box.shadow-5.b-r-4.p-a-20 
          //.animated.fadeInLeft
          h1.f-4.m-a-0 #{title}
          h4 Sign in to start your session
          form.text-left(role='form', action='/login', method='post')
            .form-group.has-feedback
              input.form-control(placeholder='Username', name="user", type='text')
              span.form-control-feedback
                i.fa.fa-fw.fa-envelope
            .form-group.has-feedback
              input.form-control(placeholder='Password', name="password" type='password')
              span.form-control-feedback
                i.fa.fa-fw.fa-key
            input(type='hidden', name='redirectTo', value=redirectTo)
            button.btn.btn-primary.btn-block.m-b-15(type='submit') LOGIN 
            //- a(href='app-forgot.html')
            //-   small Forgot password?
            //- p.text-muted.text-right
            //-   | Do not have an account?
            //-   a(href='app-register.html') Create an account
      //- // Modal
      //- #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel')
      //-   .modal-dialog(role='document')
      //-     .modal-content
      //-       .modal-header
      //-         button.close(type='button', data-dismiss='modal', aria-label='Close')
      //-           span(aria-hidden='true') ×
      //-         h4#loginModalLabel.modal-title Terms
      //-       .modal-body
      //-         | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      //-         | in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      //-       .modal-footer
      //-         button.btn.btn-default(type='button', data-dismiss='modal') Close
      //-         button.btn.btn-primary(type='button', data-dismiss='modal') I agree
    // Core javascript files. REQUIRED
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='../assets/vendor/jquery/jquery.js')
    // Bootstrap
    script(src='../assets/vendor/bootstrap/js/bootstrap.js')
