
extends layouts/simple_page2
block pagescripts
  style.
    td.min, th.min {
     width: 1% !important;
     white-space: nowrap !important;
   }
  script.
    table_source="#{table_source}"
    title="#{title}"
  script(src='/javascripts/customTable.js')
  script(src='/javascripts/pages/workplaces.js')
    
  

block simple_content
  //- .row
  //-   .col-md-12
  //-     .box.box-default
  .box-body
    .table-responsive
      table#dataTable.table.table-striped.snipe-table
        
  //| Main table
  #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
    .modal-dialog
      .modal-content
    .modal-dialog
      form#modalForm.form-horizontal(role='form', name='modalForm', action='')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×   
              span.sr-only Close
            h4#editModalLabel.modal-title Edit #{title}
            .modal-body
              #modalContent
                .form-group
                  label.col-sm-2.control-label(for='name') Name
                  .col-sm-10
                    input#modal_name.form-control(name='name', autofocus)
                .form-group
                  label.col-sm-2.control-label(for='wp_type_id') Type: 
                  .col-sm-10
                    select#modal_wp_type_id.form-control(name='wp_type_id',)
                .form-group
                  label.col-sm-2.control-label(for='departments_id') Department: 
                  .col-sm-10
                    select#modal_departments_id.form-control(name='departments_id')
                .form-group
                  label.col-sm-2.control-label(for='employees_id') Employee:
                  .col-sm-10
                    select#modal_employees_id.form-control(name='employees_id')
                .form-group
                  label.col-sm-2.control-label(for='room') Room:
                  .col-sm-10
                    input#modal_room.form-control(name='room',)
                .form-group
                  label.col-sm-2.control-label(for='ip') IP:
                  .col-sm-10
                    input#modal_ip.form-control(name='ip',)
                .form-group
                  label.col-sm-2.control-label(for='phone') Phone:
                  .col-sm-10
                    input#modal_phone.form-control(name='phone',)
                .form-group
                  label.col-sm-2.control-label(for='comments') Comments:
                  .col-sm-10
                    input#modal_comments.form-control(name='comments',)
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.submit(type='submit') Save changes
  
