extends layouts/simple_page2
block pagescripts
  style.
    td.min, th.min {
     width: 1% !important;
     white-space: nowrap !important;
   }
  script.
    table_source="#{table_source}"
    title="Edit Component "
    item_id="#{item_id}"
    
  script(src='/javascripts/customTable.js')
  script(src='/javascripts/pages/workplaces_edit.js')
  script(src='../vendor/mxgraph/javascript/src/js/mxClient.js')

  
block simple_content
  //- .col-md-6
    // Custom Tabs
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a(href='#tab_1', data-toggle='tab') Details
      li
        a(href='#tab_2', data-toggle='tab') Devices
      li
        a(href='#tab_3', data-toggle='tab') Map
      //- li
      //-   a(href='#tab_3', data-toggle='tab') Workplace
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | Actions 
          span.caret
        ul.dropdown-menu
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Delete
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Clone
          //- li(role='presentation')
          //-   a(role='menuitem', tabindex='-1', href='#') Something else here
          li.divider(role='presentation')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Audit
      //- li.pull-right
      //-   a.text-muted(href='#')
      //-     i.fa.fa-gear
    .tab-content
      #tab_1.tab-pane.active
        .row
          .col-md-8
            form#itemForm.form-horizontal
              .box-body
                .form-group
                  label.col-sm-2.control-label(for='name') Name
                  .col-sm-10
                    input#name.form-control(name='name', autofocus)
                .form-group
                  label.col-sm-2.control-label(for='wp_type_id') Type: 
                  .col-sm-10
                    select#wp_type_id.form-control(name='wp_type_id',)
                .form-group
                  label.col-sm-2.control-label(for='departments_id') Department: 
                  .col-sm-10
                    select#departments_id.form-control(name='departments_id')
                .form-group
                  label.col-sm-2.control-label(for='employees_id') Employee:
                  .col-sm-10
                    select#employees_id.form-control(name='employees_id')
                .form-group
                  label.col-sm-2.control-label(for='room') Room:
                  .col-sm-10
                    input#room.form-control(name='room',)
                .form-group
                  label.col-sm-2.control-label(for='ip') IP:
                  .col-sm-10
                    input#ip.form-control(name='ip',)
                .form-group
                  label.col-sm-2.control-label(for='phone') Phone:
                  .col-sm-10
                    input#phone.form-control(name='phone',)
                .form-group
                  label.col-sm-2.control-label(for='comments') Comments:
                  .col-sm-10
                    input#comments.form-control(name='comments',)
              // /.box-body
              .box-footer
                button.btn.btn-default.pull-right(type='submit') Cancel
                button.btn.btn-info.pull-right(type='submit') Save
              // /.box-footer
          .col-md-4
            //- img.img-thumbnail.pull-right(src='http://10.102.29.28:8080/hardware/1/qr_code', style='height: 100px; width: 100px; margin-right: 10px;')
            //- h4 Checked Out To
            //- p
            //-   // Only users have avatars currently
            //-   img.user-image-inline(src='//gravatar.com/avatar/a05e64ea70815d71fefd36ab6d66e729', alt='Andrei Prescornic')
            //-   i.fa.fa-user
            //-   a(href='http://10.102.29.28:8080/users/1') Andrei Prescornic
            //- ul.list-unstyled(style='line-height: 25px;')
            //-   li
            //-     i.fa.fa-envelope-o
            //-     a(href='mailto:andrei.prescornic@codeactorygroup.com') andrei.prescornic@codeactorygroup.com
            //-   li Chisinau
            //-   li
            //-   li
      // /.tab-pane
      #tab_2.tab-pane
        table#detailsTable.table.table-striped.snipe-table
      #tab_3.tab-pane
        .row
          button#saveMap.btn.btn-success.pull-left Save map position
        .row(style="overflow-x: auto;")
          #mainGraphWrapper(style="position: relative;width: 1300px;")
            img.img-fluid( style='vertical-align: top; width: 100%; opacity: 0;', src='../images/office_plan.png',)
            #graphContainer(style="position:absolute; top: 0;overflow:hidden;width:100%;height:100%; cursor:default; background:url('../images/office_plan.png'); background-repeat: no-repeat; background-size: 100%;")
        
      // /.tab-pane
    // /.tab-content
  // nav-tabs-custom
  // /.col
