body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ui-autocomplete
{
    z-index: 99999; //Maximum and top of everything (not absolutely :| )
}

#sidebar .sidebar-header {
    background: #e8e8e8;
}

body {
    background: #fafafa;
}

#sidebar {
    background: #fafafa;
    color: #5f5e5e;
}

ul ul a {
    background: #fafafa;
}
#sidebar ul li a:hover {
    color: #e84b61;
    background: #e8e8e8;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: red;
  background: #eee;
}

#sidebar li.nav-divider {
  color: red;
  background: #eee;
  height: 5px;
}


a {
  color: #5f5e5e;
}


.form-login {
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  padding: 25px;
}


.container {
    padding: 25px;
    position: fixed;
}
