
extends ../layouts/simple_page2
block pagescripts
  script.
    title="#{title}"
  script(src='/javascripts/pages/wp_map.js') 
  script(src='/vendor/mxgraph/javascript/src/js/mxClient.js') 


block simple_content
  .row
    div
      input#printMap(type='button', value='print',)
  .row(style="overflow-x: auto;")
    #mainGraphWrapper(style="position: relative;width: 1300px;")
      img.img-fluid( style='vertical-align: top; width: 100%; opacity: 0;', src='../images/office_plan.png',)
      #graphContainer(style="position:absolute; top: 0;overflow:hidden;width:100%;height:100%; cursor:default; background:url('../images/office_plan.png'); background-repeat: no-repeat; background-size: 100%;")

  
