extends ../layouts/defaultlayout

block content
  link(rel='stylesheet', href='/vendor/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/vendor/datatables/css/jquery.dataTables.css')
  script(src='/vendor/datatables/js/jquery.dataTables.js')
  script(src='/vendor/datatables/js/dataTables.bootstrap.js')
  script.
    $(document).ready(function() {
      var table = $('#Data_Table').DataTable( {
        "ajax": {
          "url": "#{table_source}#{table_pretty}",
          "dataSrc": "data",
          "stateSave": true
        },
        "columns": #{table_columns},
        "columnDefs": [
            { "width": 40, "targets": 0 },
            /*{ "visible": false, "targets": 1 }*/
        ],
        fixedColumns: true,
        "order": [[ 2, 'desc' ]],
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(4, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
      });
      
      // Setup - add a text input to each footer cell
      $('#Data_Table tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="'+title+'" />' );
      });
      
      // Apply the search
      table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
          if ( that.search() !== this.value ) {
          that
            .search( this.value )
            .draw();
          }
        });
      });

    //edit button
    $('#bedit').click( function () {
        var rowID = $('#Data_Table').DataTable().row( '.selected' ).data()["id"];
        $.ajax({
            type: 'GET',
            url: "#{table_source}"+rowID,
            contentType: "application/json",
            success: function(data) {
              var manufacturer = data.data
              console.log("edit manufacturer ", manufacturer.id);
              $('#iid').val(manufacturer.id),
              $('#iname').val(manufacturer.name),
              $('#wpAdd').modal('show')
              },
            error: function() { alert("error retrieve manufacturer data"); },
          })
      });


    //Save Modal Function
    $('#ModalSave').click( function () {
        var id = 0;
        var method = 'POST'
        var manufacturers_url = "#{table_source}"
        if ($('#iid').val()){
          method = 'PUT'
          manufacturers_url = "#{table_source}" + $('#iid').val()
        }
        var name = $('#iname').val()
        var manufacturer = JSON.stringify({
            "id":         $('#iid').val(),
            "name":       $('#iname').val()
          });
        $.ajax({
            type: method,
            url: manufacturers_url,
            data: manufacturer,
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
                console.log("Data added manufacturer ", data.data.name);
                $('#Data_Table').DataTable().ajax.reload(null, false);
                $('#iid').val(data.data.id);
              },
            error: function() { alert("error updating table data"); },
          })
      })
      
      $('#idate').datepicker({
          format: "yyyy/MM/DD",
          buttonImage: "images/calendar.gif",
          todayBtn: "linked",
          daysOfWeekHighlighted: "0,6",
          autoclose: true,
          changeMonth: true,
          changeYear: true
        });
      $("#idate").datepicker().datepicker("setDate", new Date());
    });

  table#Data_Table.table.table-striped.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th Id
        th Name
        th Date
        th Partner
        th Invoice
        th Device
        th Price
    tfoot
      tr
        th Id
        th Name
        th Date
        th Partner
        th Invoice
        th Device
        th Price
  // Modal
  #wpAdd.modal.fade(role="dialog")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal") ×
          h4.modal-title Add manufacturer
        .modal-body
          .box-body.collapse.in
            .form-group
              label(for="iid") Id
              .icon-before-input
                input#iid.form-control.input-sm(type="text", placeholder="new", disabled="")
              label(for="iname") Name
              .icon-before-input
                input#iname.form-control.input-sm(type="text", placeholder="Name ...")
              label(for="idate") Date
              .icon-before-input
                input#idate.form-control.input-sm(type="text")
        .modal-footer
          button#ModalSave.btn.btn-primary(type="button") Save
          button.btn.btn-default(type="button", data-dismiss="modal") Close
