extends ../layouts/defaultlayout

block content
  script.
    /*$.jgrid = $.jgrid || {};*/
    /*$.jgrid.no_legacy_api = true;*/
    /*$.jgrid.useJSON = true;*/
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/css/ui.jqgrid.min.css')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css', rel='stylesheet')
  //- link(rel='stylesheet', href='/vendor/jqgrid/css/ui.jqgrid-bootstrap.css')
  //- link(rel='stylesheet', href='/vendor/jqgrid/css/ui.jqgrid-bootstrap-ui.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/jquery.jqgrid.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/plugins/min/jquery.contextmenu-ui.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/plugins/min/jquery.contextmenu.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/modules/grid.custom.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js')
  


  style.
    .contextMenu {
    font-size: 18px;
    }
  #contextMenu.contextMenu.row(style='display:none;')
    ul
      li#add
        span.glyphicon.glyphicon-plus(style='float:left')
        span(style='font-size:100%; font-family:Verdana;margin-left:10px;') Add Row
      li#edit
        span.glyphicon.glyphicon-pencil(style='float:left')
        span(style='font-size:100%; font-family:Verdana;margin-left:10px;') Edit Row
      li#del
        span.glyphicon.glyphicon-trash(style='float:left')
        span(style='font-size:100%; font-family:Verdana;margin-left:10px;') Delete Row

  //- #outerDiv(style='margin:5px;')
  #ajaxpage
    .container-fluid
      .col-xs-4.form-group
        table#SGroups
      .col-xs-4.form-group
        table#sockets_ports
      .col-xs-4.form-group
        table#port_list
  script.
    defaultTableURL = "/api/sgroups"
  script(src='/javascripts/pages/sgroups.js')
