extends ../layouts/simple_page2
block pagescripts
  style.
    td.min, th.min {
     width: 1% !important;
     white-space: nowrap !important;
   }
  script.
    table_source="#{table_source}"
    title="#{title}"
  script(src='/javascripts/pages/switches.js')
    
  

block simple_content
  //- .row
  //-   .col-md-12
  //-     .box.box-default
  .box-body
    .table-responsive
      #toolbar.btn-group
        button#table_add.btn.btn-default(type='button',)
          i.glyphicon.glyphicon-plus
        button#table_edit.btn.btn-default(type='button')
          i.glyphicon.glyphicon-edit
        button#table_delete.btn.btn-default(type='button')
          i.glyphicon.glyphicon-trash
        button#table_pdf.btn.btn-default(type='button')
          i.fa.fa-print
      table#dataTable.table.table-striped.snipe-table
        
  //| Main table
  #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
    .modal-dialog
      .modal-content
    .modal-dialog
      form#modalForm(role='form', name='modalForm', action='')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×   
              span.sr-only Close
            h4#editModalLabel.modal-title Edit #{title}
            .modal-body
              #modalContent
                .form-group
                  label(for='name') Name
                  input#modal_name.form-control(name='name', autofocus)
                .form-group
                  label(for='size') Size
                  input#modal_size.form-control(name='size')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.submit(type='submit') Save changes
  
