extends ../layouts/defaultlayout

block aditional_headers
  script.
    /*$.jgrid = $.jgrid || {};*/
    /*$.jgrid.no_legacy_api = true;*/
    /*$.jgrid.useJSON = true;*/
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/css/ui.jqgrid.min.css')
  //- link(rel='stylesheet', href='/vendor/jqgrid/css/ui.jqgrid-bootstrap.css')
  //- link(rel='stylesheet', href='/vendor/jqgrid/css/ui.jqgrid-bootstrap-ui.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/jquery.jqgrid.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/plugins/min/jquery.contextmenu-ui.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.2/plugins/min/jquery.contextmenu.js')
  style.
    .contextMenu {
    font-size: 18px;
    }
  #contextMenu.contextMenu.row(style='display:none;')
    ul
      li#add
        span.glyphicon.glyphicon-plus(style='float:left')
        span(style='font-size:100%; font-family:Verdana;margin-left:10px;') Add Row
      li#edit
        span.glyphicon.glyphicon-pencil(style='float:left')
        span(style='font-size:100%; font-family:Verdana;margin-left:10px;') Edit Row
      li#del
        span.glyphicon.glyphicon-trash(style='float:left')
        span(style='font-size:100%; font-family:Verdana;margin-left:10px;') Delete Row

  //- #outerDiv(style='margin:5px;')
  #ajaxpage
    .container-fluid
      .col-xs-6.form-group
        table#list


block content
  script.
    defaultTableURL = "/api/departments"
  script(src='/javascripts/simpletable.js')
