
extends ../layouts/simple_page2
block pagescripts
  style.
    td.min, th.min {
     width: 1% !important;
     white-space: nowrap !important;
   }
  script.
    table_source="#{table_source}"
    title="#{title}"
  script(src='/javascripts/pages/employees.js')
    
  

block simple_content
  //- .row
  //-   .col-md-12
  //-     .box.box-default
  .box-body
    .table-responsive
      #toolbar.btn-group
        button#table_add.btn.btn-default(type='button',)
          i.glyphicon.glyphicon-plus
        button#table_edit.btn.btn-default(type='button')
          i.glyphicon.glyphicon-edit
        button#table_delete.btn.btn-default(type='button')
          i.glyphicon.glyphicon-trash
        button#table_import_user.btn.btn-default(type='button')
          i.fa.fa-download
        button#table_import_user_pc.btn.btn-default(type='button')
          i.fa.fa-fast-backward    
        button#table_pdf.btn.btn-default(type='button')
          i.fa.fa-print
      table#dataTable.table.table-striped.snipe-table
        
  //| Main table
  #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
    .modal-dialog
      .modal-content
    .modal-dialog
      form#modalForm(role='form', name='modalForm', action='')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×   
              span.sr-only Close
            h4#editModalLabel.modal-title Edit #{title}
            .modal-body
              #modalContent
                .form-group
                  label(for='name') Name
                  input#modal_name.form-control(name='name', autofocus)
                .form-group
                  label(for='department_id') Department: 
                  //- select#search.smartsearch(name='search', style='width:100%;')
                  select#modal_department_id.form-control(name='department_id',)
                .form-group
                  label(for='position_id') Position: 
                  select#modal_position_id.form-control(name='position_id')
                //.form-group
                  .checkbox
                    label 
                      //(for='allow_login') Allow Login
                      input#modal_allow_login.form-control(type='checkbox', name='allow_login')
                      |Allow login
                .form-check
                  input#modal_allow_login.form-check-input(type='checkbox', name='allow_login')
                  label.form-check-label(for='exampleCheck1') Allow login
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.submit(type='submit') Save changes
  
